.elementor-4588 .elementor-element.elementor-element-4ae37e8b {
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: #eaedf2;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 120px 0px 120px 0px;
}
.elementor-4588 .elementor-element.elementor-element-4ae37e8b > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-4588 .elementor-element.elementor-element-654df7fd > .elementor-element-populated {
	padding: 0px 50px 0px 15px;
}
.elementor-4588
	.elementor-element.elementor-element-39a4dd99
	> .elementor-column-wrap
	> .elementor-widget-wrap
	> .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}
.elementor-4588 .elementor-element.elementor-element-39a4dd99 > .elementor-element-populated {
	padding: 0px 0px 0px 0px;
}
.elementor-4588 .elementor-element.elementor-element-39a4dd99 {
	z-index: 1;
}
.elementor-4588 .elementor-element.elementor-element-29053d62 {
	z-index: 0;
	top: -85px;
}
body:not(.rtl) .elementor-4588 .elementor-element.elementor-element-29053d62 {
	left: 383px;
}
body.rtl .elementor-4588 .elementor-element.elementor-element-29053d62 {
	right: 383px;
}
.elementor-4588 .elementor-element.elementor-element-35d0286a .heading-layout1 {
	text-align: left;
}
.elementor-4588 .elementor-element.elementor-element-35d0286a .heading-layout1new {
	text-align: left;
}
.elementor-4588 .elementor-element.elementor-element-35d0286a .heading-layout1new .item-subtitle:after {
	background-color: #a7d402;
}
.elementor-4588 .elementor-element.elementor-element-35d0286a .item-beforetitle {
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0px;
}
.elementor-4588 .elementor-element.elementor-element-35d0286a .item-title {
	color: #111111;
}
.elementor-4588 .elementor-element.elementor-element-35d0286a .section-subtitle {
	color: #646464;
}
.elementor-4588 .elementor-element.elementor-element-35d0286a > .elementor-widget-container {
	margin: -8px 0px 0px 0px;
	padding: 0px 45px 0px 15px;
}
.elementor-4588 .elementor-element.elementor-element-1ab54764 > .elementor-element-populated {
	padding: 0px 15px 0px 15px;
}
.elementor-4588 .elementor-element.elementor-element-648ca804 .service-box-media .item-icon {
	width: 70px;
	height: 70px;
	padding: 0px;
}
.elementor-4588 .elementor-element.elementor-element-648ca804 .service-box-layout2.left .media-body-wrp {
	padding-left: 0px;
}
.elementor-4588 .elementor-element.elementor-element-648ca804 .service-box-layout2.center .media-body-wrp {
	padding-top: 0px;
}
.elementor-4588 .elementor-element.elementor-element-648ca804 .service-box-layout2.right .media-body-wrp {
	padding-right: 0px;
}
.elementor-4588 .elementor-element.elementor-element-648ca804 .icon-layout-4 .media-body-wrp {
	padding-top: 0px;
}
.elementor-4588 .elementor-element.elementor-element-648ca804 .icon-box-layout5.left .media-body-wrp {
	padding-left: 0px;
}
.elementor-4588 .elementor-element.elementor-element-648ca804 .icon-box-layout5.center .media-body-wrp {
	padding-top: 0px;
}
.elementor-4588 .elementor-element.elementor-element-648ca804 .icon-box-layout5.right .media-body-wrp {
	padding-right: 0px;
}
.elementor-4588 .elementor-element.elementor-element-648ca804 .icon-box-layout6.left .media-body-wrp {
	padding-left: 0px;
}
.elementor-4588 .elementor-element.elementor-element-648ca804 .icon-box-layout6.center .media-body-wrp {
	padding-top: 0px;
}
.elementor-4588 .elementor-element.elementor-element-648ca804 .icon-box-layout6.right .media-body-wrp {
	padding-right: 0px;
}
.elementor-4588 .elementor-element.elementor-element-648ca804 .item-icon i:before {
	color: #76d54c;
}
.elementor-4588 .elementor-element.elementor-element-648ca804 .item-title {
	font-weight: 700;
	line-height: 1.2em;
}
.elementor-4588 .elementor-element.elementor-element-648ca804 .item-content {
	line-height: 1.5em;
}
.elementor-4588 .elementor-element.elementor-element-59603b51 > .elementor-element-populated {
	padding: 0px 15px 0px 15px;
}
.elementor-4588 .elementor-element.elementor-element-7d61352c .service-box-media .item-icon {
	width: 70px;
	height: 70px;
	padding: 0px;
}
.elementor-4588 .elementor-element.elementor-element-7d61352c .service-box-layout2.left .media-body-wrp {
	padding-left: 0px;
}
.elementor-4588 .elementor-element.elementor-element-7d61352c .service-box-layout2.center .media-body-wrp {
	padding-top: 0px;
}
.elementor-4588 .elementor-element.elementor-element-7d61352c .service-box-layout2.right .media-body-wrp {
	padding-right: 0px;
}
.elementor-4588 .elementor-element.elementor-element-7d61352c .icon-layout-4 .media-body-wrp {
	padding-top: 0px;
}
.elementor-4588 .elementor-element.elementor-element-7d61352c .icon-box-layout5.left .media-body-wrp {
	padding-left: 0px;
}
.elementor-4588 .elementor-element.elementor-element-7d61352c .icon-box-layout5.center .media-body-wrp {
	padding-top: 0px;
}
.elementor-4588 .elementor-element.elementor-element-7d61352c .icon-box-layout5.right .media-body-wrp {
	padding-right: 0px;
}
.elementor-4588 .elementor-element.elementor-element-7d61352c .icon-box-layout6.left .media-body-wrp {
	padding-left: 0px;
}
.elementor-4588 .elementor-element.elementor-element-7d61352c .icon-box-layout6.center .media-body-wrp {
	padding-top: 0px;
}
.elementor-4588 .elementor-element.elementor-element-7d61352c .icon-box-layout6.right .media-body-wrp {
	padding-right: 0px;
}
.elementor-4588 .elementor-element.elementor-element-7d61352c .item-icon i:before {
	color: #76d54c;
}
.elementor-4588 .elementor-element.elementor-element-7d61352c .item-title {
	font-weight: 700;
	line-height: 1.2em;
}
.elementor-4588 .elementor-element.elementor-element-7d61352c .item-content {
	line-height: 1.5em;
}
.elementor-4588 .elementor-element.elementor-element-74fd451f:not(.elementor-motion-effects-element-type-background),
.elementor-4588
	.elementor-element.elementor-element-74fd451f
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: #f7f7f7;
}
.elementor-4588 .elementor-element.elementor-element-74fd451f {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 20px 0px 0px 0px;
}
.elementor-4588 .elementor-element.elementor-element-74fd451f > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-4588 .elementor-element.elementor-element-3d3ec8e5 > .elementor-element-populated {
	padding: 55px 0px 55px 0px;
}
.elementor-4588 .elementor-element.elementor-element-6f45b50e {
	margin-top: 0px;
	margin-bottom: 0px;
}
.elementor-bc-flex-widget
	.elementor-4588
	.elementor-element.elementor-element-41efea21.elementor-column
	.elementor-column-wrap {
	align-items: center;
}
.elementor-4588
	.elementor-element.elementor-element-41efea21.elementor-column.elementor-element[data-element_type="column"]
	> .elementor-column-wrap.elementor-element-populated
	> .elementor-widget-wrap {
	align-content: center;
	align-items: center;
}
.elementor-4588 .elementor-element.elementor-element-41efea21 > .elementor-element-populated {
	margin: 0px 0px 15px 0px;
	padding: 0px 15px 0px 15px;
}
.elementor-4588 .elementor-element.elementor-element-6f96f8b5 .heading-layout1 {
	text-align: left;
}
.elementor-4588 .elementor-element.elementor-element-6f96f8b5 .heading-layout1new {
	text-align: left;
}
.elementor-4588 .elementor-element.elementor-element-6f96f8b5 .heading-layout1new .item-subtitle:after {
	background-color: #a7d402;
}
.elementor-4588 .elementor-element.elementor-element-6f96f8b5 .item-beforetitle {
	color: #646464;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0px;
}
.elementor-4588 .elementor-element.elementor-element-6f96f8b5 .item-title {
	color: #111111;
}
.elementor-4588 .elementor-element.elementor-element-6f96f8b5 .section-subtitle {
	color: #646464;
}
.elementor-4588 .elementor-element.elementor-element-6f96f8b5 > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget
	.elementor-4588
	.elementor-element.elementor-element-383f6304.elementor-column
	.elementor-column-wrap {
	align-items: center;
}
.elementor-4588
	.elementor-element.elementor-element-383f6304.elementor-column.elementor-element[data-element_type="column"]
	> .elementor-column-wrap.elementor-element-populated
	> .elementor-widget-wrap {
	align-content: center;
	align-items: center;
}
.elementor-4588 .elementor-element.elementor-element-383f6304 > .elementor-element-populated {
	padding: 0px 15px 0px 15px;
}
.elementor-4588 .elementor-element.elementor-element-1c7b8993 .heading-layout1 {
	text-align: left;
}
.elementor-4588 .elementor-element.elementor-element-1c7b8993 .heading-layout1new {
	text-align: left;
}
.elementor-4588 .elementor-element.elementor-element-1c7b8993 .heading-layout1new .item-subtitle:after {
	background-color: #a7d402;
}
.elementor-4588 .elementor-element.elementor-element-1c7b8993 .item-beforetitle {
	color: #444444;
}
.elementor-4588 .elementor-element.elementor-element-1c7b8993 .item-title {
	color: #111111;
}
.elementor-4588 .elementor-element.elementor-element-1c7b8993 .section-subtitle {
	color: #646464;
}
.elementor-4588 .elementor-element.elementor-element-1c7b8993 > .elementor-widget-container {
	padding: 20px 0px 0px 0px;
}
.elementor-4588 .elementor-element.elementor-element-775d09a9:not(.elementor-motion-effects-element-type-background),
.elementor-4588
	.elementor-element.elementor-element-775d09a9
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: #f7f7f7;
}
.elementor-4588 .elementor-element.elementor-element-775d09a9 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-4588 .elementor-element.elementor-element-775d09a9 > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-4588 .elementor-element.elementor-element-231a38d6 > .elementor-element-populated {
	padding: 0px 0px 0px 0px;
}
.elementor-4588 .elementor-element.elementor-element-6aa52724 {
	--divider-border-style: solid;
	--divider-color: #e1e1e1;
	--divider-border-width: 1px;
}
.elementor-4588 .elementor-element.elementor-element-6aa52724 .elementor-divider-separator {
	width: 100%;
}
.elementor-4588 .elementor-element.elementor-element-6aa52724 .elementor-divider {
	padding-top: 0px;
	padding-bottom: 0px;
}
.elementor-4588 .elementor-element.elementor-element-79be2f51:not(.elementor-motion-effects-element-type-background),
.elementor-4588
	.elementor-element.elementor-element-79be2f51
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: #f7f7f7;
}
.elementor-4588 .elementor-element.elementor-element-79be2f51 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-4588 .elementor-element.elementor-element-79be2f51 > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-4588 .elementor-element.elementor-element-7c41756 > .elementor-element-populated {
	padding: 0px 0px 0px 0px;
}
.elementor-4588 .elementor-element.elementor-element-3f221432 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 80px 0px 80px 0px;
}
.elementor-4588 .elementor-element.elementor-element-3f221432 > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
	.elementor-4588
	.elementor-element.elementor-element-f11144e.elementor-column
	.elementor-column-wrap {
	align-items: center;
}
.elementor-4588
	.elementor-element.elementor-element-f11144e.elementor-column.elementor-element[data-element_type="column"]
	> .elementor-column-wrap.elementor-element-populated
	> .elementor-widget-wrap {
	align-content: center;
	align-items: center;
}
.elementor-4588 .elementor-element.elementor-element-f11144e > .elementor-element-populated {
	padding: 0px 15px 0px 15px;
}
.elementor-4588 .elementor-element.elementor-element-1dbe25a5 .heading-layout1 {
	text-align: left;
}
.elementor-4588 .elementor-element.elementor-element-1dbe25a5 .heading-layout1new {
	text-align: left;
}
.elementor-4588 .elementor-element.elementor-element-1dbe25a5 .item-beforetitle {
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0px;
}
.elementor-4588 .elementor-element.elementor-element-1dbe25a5 .item-title {
	color: #111111;
}
.elementor-4588 .elementor-element.elementor-element-1dbe25a5 > .elementor-widget-container {
	margin: -9px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.elementor-bc-flex-widget
	.elementor-4588
	.elementor-element.elementor-element-257ef93d.elementor-column
	.elementor-column-wrap {
	align-items: center;
}
.elementor-4588
	.elementor-element.elementor-element-257ef93d.elementor-column.elementor-element[data-element_type="column"]
	> .elementor-column-wrap.elementor-element-populated
	> .elementor-widget-wrap {
	align-content: center;
	align-items: center;
}
.elementor-4588 .elementor-element.elementor-element-257ef93d > .elementor-element-populated {
	padding: 0px 15px 0px 15px;
}
.elementor-4588 .elementor-element.elementor-element-75f35890 > .elementor-widget-container {
	margin: 20px 0px 0px 0px;
}
.elementor-4588 .elementor-element.elementor-element-5210df92 .elementor-spacer-inner {
	height: 20px;
}
.elementor-4588 .elementor-element.elementor-element-662a3f2b .elementor-swiper-button.elementor-swiper-button-prev,
.elementor-4588 .elementor-element.elementor-element-662a3f2b .elementor-swiper-button.elementor-swiper-button-next {
	font-size: 32px;
	color: #4b544d;
}
.elementor-4588 .elementor-element.elementor-element-662a3f2b .swiper-wrapper {
	display: flex;
	align-items: center;
}
.elementor-4588 .elementor-element.elementor-element-8ce1d2e:not(.elementor-motion-effects-element-type-background),
.elementor-4588
	.elementor-element.elementor-element-8ce1d2e
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: #242424;
	background-image: url("../../../../2021/02/service4_tab_bg.png");
	background-position: bottom center;
	background-repeat: no-repeat;
}
.elementor-4588 .elementor-element.elementor-element-8ce1d2e {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 210px 0px 105px 0px;
}
.elementor-4588 .elementor-element.elementor-element-8ce1d2e > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-4588 .elementor-element.elementor-element-752b07e2 > .elementor-element-populated {
	padding: 0px 0px 0px 0px;
}
.elementor-4588 .elementor-element.elementor-element-62001dd0 {
	padding: 0px 0px 0px 0px;
}
.elementor-4588
	.elementor-element.elementor-element-581ada37
	> .elementor-column-wrap
	> .elementor-widget-wrap
	> .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}
.elementor-4588 .elementor-element.elementor-element-581ada37 > .elementor-element-populated {
	padding: 0px 60px 0px 0px;
}
.elementor-4588 .elementor-element.elementor-element-7a8c15 .heading-layout1 {
	text-align: left;
}
.elementor-4588 .elementor-element.elementor-element-7a8c15 .heading-layout1new {
	text-align: left;
}
.elementor-4588 .elementor-element.elementor-element-7a8c15 .item-beforetitle {
	color: #d2d2d2;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0px;
}
.elementor-4588 .elementor-element.elementor-element-7a8c15 .item-title {
	color: #ffffff;
}
.elementor-4588 .elementor-element.elementor-element-7a8c15 > .elementor-widget-container {
	margin: -9px 0px 0px 0px;
	padding: 0px 15px 0px 15px;
}
.elementor-4588 .elementor-element.elementor-element-6f193a4 p.tcontent {
	font-size: 14px;
	font-style: italic;
}
.elementor-bc-flex-widget
	.elementor-4588
	.elementor-element.elementor-element-1b5d14bc.elementor-column
	.elementor-column-wrap {
	align-items: center;
}
.elementor-4588
	.elementor-element.elementor-element-1b5d14bc.elementor-column.elementor-element[data-element_type="column"]
	> .elementor-column-wrap.elementor-element-populated
	> .elementor-widget-wrap {
	align-content: center;
	align-items: center;
}
.elementor-4588
	.elementor-element.elementor-element-1b5d14bc
	> .elementor-column-wrap
	> .elementor-widget-wrap
	> .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
	margin-bottom: 0px;
}
.elementor-4588
	.elementor-element.elementor-element-1b5d14bc:not(.elementor-motion-effects-element-type-background)
	> .elementor-column-wrap,
.elementor-4588
	.elementor-element.elementor-element-1b5d14bc
	> .elementor-column-wrap
	> .elementor-motion-effects-container
	> .elementor-motion-effects-layer {
	background-color: #ffffff;
}
.elementor-4588
	.elementor-element.elementor-element-1b5d14bc
	> .elementor-element-populated
	> .elementor-background-overlay {
	opacity: 0.64;
}
.elementor-4588 .elementor-element.elementor-element-1b5d14bc > .elementor-element-populated,
.elementor-4588
	.elementor-element.elementor-element-1b5d14bc
	> .elementor-element-populated
	> .elementor-background-overlay,
.elementor-4588 .elementor-element.elementor-element-1b5d14bc > .elementor-background-slideshow {
	border-radius: 6px 6px 6px 6px;
}
.elementor-4588 .elementor-element.elementor-element-1b5d14bc > .elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 0px 0px 15px 0px;
	padding: 15px 45px 0px 45px;
}
.elementor-4588
	.elementor-element.elementor-element-1b5d14bc
	> .elementor-element-populated
	> .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-4588 .elementor-element.elementor-element-5a446570 .heading-layout1 {
	text-align: left;
}
.elementor-4588 .elementor-element.elementor-element-5a446570 .heading-layout1new {
	text-align: left;
}
.elementor-4588 .elementor-element.elementor-element-5a446570 .item-beforetitle {
	color: #646464;
	font-weight: 500;
	text-transform: uppercase;
}
.elementor-4588 .elementor-element.elementor-element-5a446570 .item-title {
	color: #000000;
	font-size: 30px;
}
.elementor-4588 .elementor-element.elementor-element-5a446570 .section-subtitle {
	color: #646464;
}
.elementor-4588 .elementor-element.elementor-element-5875294 {
	margin-top: 80px;
	margin-bottom: 0px;
}
.elementor-4588 .elementor-element.elementor-element-730547b6 > .elementor-widget-container {
	border-radius: 8px 8px 8px 8px;
}
.elementor-4588 .elementor-element.elementor-element-3ab2692d > .elementor-widget-container {
	border-radius: 8px 8px 8px 8px;
}
.elementor-4588 .elementor-element.elementor-element-769d31df > .elementor-widget-container {
	border-radius: 8px 8px 8px 8px;
}
.elementor-4588 .elementor-element.elementor-element-91fc5df > .elementor-widget-container {
	border-radius: 8px 8px 8px 8px;
}
@media (min-width: 768px) {
	.elementor-4588 .elementor-element.elementor-element-581ada37 {
		width: 56.525%;
	}
	.elementor-4588 .elementor-element.elementor-element-1b5d14bc {
		width: 43.433%;
	}
}
@media (max-width: 1024px) and (min-width: 768px) {
	.elementor-4588 .elementor-element.elementor-element-654df7fd {
		width: 100%;
	}
	.elementor-4588 .elementor-element.elementor-element-39a4dd99 {
		width: 100%;
	}
	.elementor-4588 .elementor-element.elementor-element-41efea21 {
		width: 100%;
	}
	.elementor-4588 .elementor-element.elementor-element-383f6304 {
		width: 100%;
	}
	.elementor-4588 .elementor-element.elementor-element-f11144e {
		width: 100%;
	}
	.elementor-4588 .elementor-element.elementor-element-257ef93d {
		width: 100%;
	}
	.elementor-4588 .elementor-element.elementor-element-581ada37 {
		width: 100%;
	}
	.elementor-4588 .elementor-element.elementor-element-1b5d14bc {
		width: 100%;
	}
}
@media (max-width: 1024px) {
	.elementor-4588 .elementor-element.elementor-element-4ae37e8b {
		padding: 80px 0px 80px 0px;
	}
	.elementor-4588 .elementor-element.elementor-element-39a4dd99 > .elementor-element-populated {
		margin: 40px 0px 0px 0px;
	}
	.elementor-4588 .elementor-element.elementor-element-3d3ec8e5 > .elementor-element-populated {
		padding: 40px 0px 20px 0px;
	}
	.elementor-4588 .elementor-element.elementor-element-6f96f8b5 > .elementor-widget-container {
		margin: -8px 0px -30px 0px;
	}
	.elementor-4588 .elementor-element.elementor-element-1c7b8993 > .elementor-widget-container {
		margin: -17px 0px 30px 0px;
		padding: 0px 0px 0px 0px;
	}
	.elementor-4588 .elementor-element.elementor-element-7c41756 > .elementor-element-populated {
		padding: 40px 0px 20px 0px;
	}
	.elementor-4588 .elementor-element.elementor-element-1dbe25a5 > .elementor-widget-container {
		margin: -9px 0px -30px 0px;
	}
	.elementor-4588 .elementor-element.elementor-element-75f35890 > .elementor-widget-container {
		margin: 0px 0px 30px 0px;
	}
	.elementor-4588 .elementor-element.elementor-element-8ce1d2e {
		padding: 80px 0px 80px 0px;
	}
	.elementor-4588 .elementor-element.elementor-element-62001dd0 {
		padding: 0px 0px 0px 0px;
	}
	.elementor-4588 .elementor-element.elementor-element-581ada37 > .elementor-element-populated {
		margin: 0px 0px 40px 0px;
	}
	.elementor-4588 .elementor-element.elementor-element-1b5d14bc > .elementor-element-populated {
		margin: 0px 15px 0px 15px;
		padding: 50px 40px 40px 40px;
	}
}
@media (max-width: 767px) {
	.elementor-4588 .elementor-element.elementor-element-654df7fd > .elementor-element-populated {
		padding: 0px 15px 0px 15px;
	}
	.elementor-4588 .elementor-element.elementor-element-35d0286a .heading-layout1 {
		text-align: left;
	}
	.elementor-4588 .elementor-element.elementor-element-35d0286a .heading-layout1new {
		text-align: left;
	}
	.elementor-4588 .elementor-element.elementor-element-74fd451f {
		padding: 70px 0px 0px 0px;
	}
	.elementor-4588 .elementor-element.elementor-element-3d3ec8e5 > .elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}
	.elementor-4588 .elementor-element.elementor-element-6f96f8b5 .heading-layout1 {
		text-align: left;
	}
	.elementor-4588 .elementor-element.elementor-element-6f96f8b5 .heading-layout1new {
		text-align: left;
	}
	.elementor-4588 .elementor-element.elementor-element-7c41756 > .elementor-element-populated {
		padding: 0px 0px 0px 0px;
	}
	.elementor-4588 .elementor-element.elementor-element-1dbe25a5 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	.elementor-4588 .elementor-element.elementor-element-8ce1d2e {
		padding: 80px 0px 80px 0px;
	}
	.elementor-4588 .elementor-element.elementor-element-581ada37 > .elementor-element-populated {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}
	.elementor-4588 .elementor-element.elementor-element-1b5d14bc > .elementor-element-populated {
		margin: 0px 15px 0px 15px;
		padding: 40px 15px 40px 15px;
	}
	.elementor-4588 .elementor-element.elementor-element-5a446570 .item-title {
		padding: 0px 0px 0px 0px !important;
		margin: 0px 0px 40px 0px !important;
	}
}
